*{
    font-family: arial,sans-serif;

}
.right{
    position: absolute;
    float: right;
   top: 10px;
   right: 10px;
 }
#title{
    font-size: 20px;
    margin: 25px 35px;
    padding-left: 10px;
    color:#d93025;
    border-bottom: 1px solid #ebebeb;
}
label{
    clear: both;
    float:left;
    height: 30px;
    display: table-cell;
    vertical-align: middle;

}

#firstlayer{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.search_box{
    float: right;
    width: 447.487px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 50%;
    text-align: left;
}
.button{
    float: right;
    position: relative;
    clear: both;
    margin: 10px 0;
    padding: 0 12px;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
}

